/* 403Page.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.page-403 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #F1FDFB, #F3E8FF);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.zen-block {
  display: flex;
  flex-direction: column;
gap: 2rem;
  align-items: center;
  /* padding: 2rem 3rem; */
  max-width: 700px;
}

.zen-image {
  width: 150px;
  height: auto;
  margin-right: 2rem;
}

.zen-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 4rem;
  /* width: 100%; */

  /* margin-top: 2rem; */
}

.zen-text h1,
.zen-text h2 {
  text-align: center;
}

.zen-text h1 {
  margin: 0;
  font-size: 2.4rem;
  color: #06909A;
  /* vert foncé */
}
.zen-text p {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
  color: #06909A;
  font-family: 'Nuninto', sans-serif;
  /* vert encore plus foncé */
}