.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-16);
    margin: var(--spacing-4) var(--spacing-16);
}

.icon {
    display: block;
    width: var(--spacing-24);
    aspect-ratio: 1/1;
    background-image: url("../../assets/images/home.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: var(--spacing-4);
}

.informations {
    display: flex;
    flex-direction: column;
    gap: var(--spacin-4);
}
.title {
    font-size: var(--spacing-24);
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.invitation {
    font-size: var(--spacing-12);
}