:root {
    /* Colors */
    --primary-color: #06909A;
    --secondary-color: #CCF0E8;

    /* Spacing or size */
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem; 
    --spacing-12: 0.75rem;
    --spacing-16: 1rem; /* 16px */
    --spacing-24: 1.5rem; /* 24px */
    --spacing-32: 2rem; /* 32 px */
    --spacing-40: 2.5rem; /* 40 px */
    --spacing-48: 3rem; /* 48 px */
    --spacing-64: 4rem; /* 64px */

}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("./assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
